<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoluohao.answer_system.x.as.user.dao.mapper.UserTokenMapper">
  <resultMap id="BaseResultMap" type="com.luoluohao.answer_system.x.as.user.dto.entity.UserToken">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user" jdbcType="INTEGER" property="user" />
    <result column="useage_type" jdbcType="INTEGER" property="useageType" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="register_uuid" jdbcType="VARCHAR" property="registerUuid" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
   <update id="updataTokenStateInvalid" parameterType="java.lang.Integer">
          update crm_user_token
          set state = 2
          where user = #{user}
          and state = 1
    </update>
</mapper>