<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoluohao.answer_system.x.as.question.dao.mapper.ExaminationMapper">
  <resultMap id="BaseResultMap" type="com.luoluohao.answer_system.x.as.question.dto.entity.Examination">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="des" jdbcType="VARCHAR" property="describe" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <select id="findUntestExam" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select examination.id, examination.name, examination.des, examination.status from examination
    <where>
     status = 1 and
      id not in
      (
      select examination from records
      where user = #{user}
      )
    </where>
  </select>
</mapper>